<!doctype html>
<html>
  <head>
    <title>Presidential Candidate Classification</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

<h2> Can a machine identify the speech from a presidential candidate? Test and see!</h2>
<h3>Here are a few examples.  Can you guess which candidate said these comments?</h3>
<h4>"I will build a great wall, and nobody builds walls better than me, believe me, and I'll build them very inexpensively, I will build a great, great wall on our southern border."</h4>
<h4>"A nation will not survive morally or economically when so few have so much and so many have so little."</h4>
<h2>Test a candidate's quote:</h2>
<div>

{% from "_formhelpers.html" import render_field %}

<form method=post action="/results">
  <dl>
	{{ render_field(form.candidateclass, cols='30', rows='10') }}
  </dl>
  <div>
	  <input type=submit value='Submit review' name='submit_btn'>
  </div>
</form>

  </body>
</html>